<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADN Explorer</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <div class="main1">
        <h1>ADN Explorer</h1>
        <p><a href="/static"> Accueil</a></p>
        <form method = 'GET' action = '/recherche'>
            <label>Chercher une phrase : </label>
            <input type="text" id="phrase" name="phrase">
        </form>
        <p>{{status}}</p>
        <p>{% for line in chaine %}
            <li>{{ line }}</li>
           {% endfor %}</p>
        </p>
            
        <br>
            
        <p>Mots trouvés dans le génome :
            {% for mot in les_mots %}
                {% if mot[0] in phrase %}
                <b><li>{{mot[0]}}</li></b>
                {% else %}
                    <li>{{mot[0]}}</li>
                {% endif %}
            {% endfor %}</p>
        </div>

            <!-- Bouton de retour en haut ↑ -->
        <button id="back-to-top" title="Back to Top">🔝</button>

        <script src="/static/script.js"></script>
    </main>
  </body>
</html>