<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADN Explorer</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="/static/script.js"></script>
  </head>
  <body>
    <main>
        <div id="background" class="main1">
            <h1>ADN Explorer</h1>
            <form class="fichup" method="POST" action="/upload" enctype="multipart/form-data">
              <input type="file" name="file" class="fichier">
              <button onclick=demarrerTraitement() type="submit">Upload</button>
              <input type="checkbox" id="afficherMots" name="afficherMots" value="True" checked> <label for="afficherMots">Afficher les mots</label>
              <select id = "lecture" name="lecture">
                  <option value="0">Lecture 1</option>
                  <option value="1">Lecture 2</option>
                  <option value="2">Lecture 3</option>
                  <option value="3">Lecture 4</option>
                  <option value="4">Lecture 5</option>
                  <option value="5">Lecture 6</option>

              </select>
            </form>
            <div class="nofile" style="display:{{disp}}"><p>Veuillez importer un fichier (valide)</p></div>
        </div>
        <div id="chargement" style="display:none" class="loader JS_on">
            <span class="binary"></span>
            <span class="binary"></span>
            <span id="conseils" class="getting-there">COMPLOTISATION EN COURS...</span>
        </div>
    </main>
  </body>
</html>